body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: teal(28, 2, 21);
  }
  
  h1 {
    font-size: 16rem;
    font-family: Montserrat;
  }
  
  
  .letter {
    transition: color 1000ms;
  }